package partials

templ PageLayout(title string) {
	<html>
		<head>
			<title>{ title }</title>
			<script src="/dist/js/vendor/htmx.min.js"></script>
			<script defer src="/dist/js/vendor/alpine-collapse.min.js"></script>
			<script defer src="/dist/js/vendor/alpine.min.js"></script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
